/* From bookdown example */
/* https://bookdown.org/yihui/bookdown/custom-blocks.html */
/* https://github.com/rstudio/bookdown/blob/3bb46f4d29c64789d94fdb4cf5692c46c86c73c4/inst/examples/css/style.css#L1-L20 */
/* https://github.com/rstudio/bookdown/blob/3bb46f4d29c64789d94fdb4cf5692c46c86c73c4/inst/examples/02-components.Rmd#L647-L658 */

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning, .rmdinfo {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
}
.rmdtip {
  background-image: url("../images/tip.png");
}
.rmdwarning {
  background-image: url("../images/warning.png");
}
.rmdinfo {
  background-image: url("../images/info.png");
}

/* OpenIntro custom environments */
/* Based on custom block code above, and made to look similar to OS4 styling */

.chapterintro {
  padding: 1em 1em 1em 3em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-top: 6px solid #569BBD;    /* openintro::COL[1,1] */ 
  border-bottom: 2px solid #569BBD; /* openintro::COL[1,1] */ 
}

.guidedpractice {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffffff 5px center/3em no-repeat;  
  border-left: 2px solid #569BBD; /* openintro::COL[1,1] */ 
  background-image: url("../images/guided_practice.png");
}

.example {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffffff 5px center/3em no-repeat;  
  border-left: 2px solid #569BBD; /* openintro::COL[1,1] */ 
  background-image: url("../images/example.png");
}

.onebox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-top: 1px solid #000000;    
  border-bottom: 1px solid #000000; 
}

.uptohere { /* as a reminder of where editing/writing left off */
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  color: white;
  background: #F05133 5px center/3em no-repeat;
  background-image: url("../images/stop-sign.png");
}

.todo { /* todo item */
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #F4DC00 5px center/3em no-repeat;
  background-image: url("../images/to-do.png");
}

/* Other formatting */

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #569BBD; /* openintro::COL[1,1] */ 
}
h1.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/* moved this out of Chp 1 but not sure if it's being used anywhere */

.column-left{
  float: left;
  width: 49%;
  text-align: left;
}
.column-right{
  float: right;
  width: 49%;
  text-align: left;
}