/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';

$body-bg: #222;
$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro";
$primary: #569BBD !default;
$body-color: #fbfbfb;

/*-- scss:rules --*/

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #000000 !important;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  background-color: lighten($body-bg, 10%);
}

code {
  color: #e5cff1;
}

.sidebar-title {
  color: #569BBD;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

/* OpenIntro custom environments --------------------------- */


/* chapterintro */

.chapterintro {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: lighten($body-bg, 10%) 5px center/3em no-repeat;
  border-top: 3px solid #569BBD;    /* openintro::COL[1,1] */ 
  border-bottom: 3px solid #569BBD; /* openintro::COL[1,1] */ 
  background-image: url("images/_icons/chapterintro.png");
  background-position: 0.5em 1.5em;
}

/* guidedpractice */

.guidedpractice {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: lighten($body-bg, 10%) 5px center/3em no-repeat;  
  border-top: 1px solid #569BBD;    /* openintro::COL[1,1] */ 
  border-bottom: 1px solid #569BBD; /* openintro::COL[1,1] */ 
  background-image: url("images/_icons/guided-practice.png");
  background-position: 0.5em 1em;
}

.guidedpractice:before {
  content: "Guided practice";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #569BBD;
}

/* workedexample */

.workedexample{
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: lighten($body-bg, 10%) 5px center/3em no-repeat; 
  border-top: 1px solid #569BBD;    /* openintro::COL[1,1] */ 
  border-bottom: 1px solid #569BBD; /* openintro::COL[1,1] */ 
  background-image: url("images/_icons/worked-example.png");
  background-position: 0.5em 1em;
}

.workedexample:before {
  content: "Example:";
  clear: right;
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  color: #569BBD;
}

/* important */

.important {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: lighten($body-bg, 15%) 5px center/3em no-repeat;
  border-top: 1px solid #f1a8b1;   
  border-bottom: 1px solid #f1a8b1;  
  background-image: url("images/_icons/important.png");
  background-position: 0.5em 1em;
}

.important strong {
  color: #f1a8b1; 
}

/* tip */

.tip {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: lighten($body-bg, 15%) 5px center/3em no-repeat;
  border-top: 1px solid #D9D9D9;    /* openintro::COL[6,1] */ 
  border-bottom: 1px solid #D9D9D9; /* openintro::COL[6,1] */ 
  background-image: url("images/_icons/tip.png");
  background-position: 0.5em 1em;
}

/* cautionbox */

.caution {
  padding: 1em 1em 1em 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  background: lighten($body-bg, 15%) 5px center/3em no-repeat;
  border-top: 1px solid #f1a8b1;
  border-bottom: 1px solid #f1a8b1;
  background-image: url("images/_icons/stop-sign.png");
  background-position: 0.5em 1em;
}

/* data - datasets in package */

.data { 
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-top: 10px;
  background: lighten($body-bg, 15%) 5px center/3em no-repeat;
  border-top: 1px solid #D9D9D9;    /* openintro::COL[6,1] */ 
  border-bottom: 1px solid #D9D9D9; /* openintro::COL[6,1] */ 
  background-image: url("images/_icons/data.png");
}

/* pronunciation - terms and Greek letters */

.pronunciation { 
  padding: 1em 1em 1em 4em;
  margin-bottom: 30px;
  margin-top: 30px;
  background: lighten($body-bg, 15%) 5px center/3em no-repeat;
  border-top: 1px solid #D9D9D9;    /* openintro::COL[1,1] */ 
  border-bottom: 1px solid #D9D9D9; /* openintro::COL[1,1] */ 
  background-image: url("images/_icons/pronunciation.png");
}

/* tutorials */

.singletutorial {
  padding: 1em 1em 1em 4em;
  margin-bottom: 5px;
  margin-left: 30px;
  background: $body-bg 5px center/3em no-repeat;
  background-image: url("images/_icons/singletutorial.png");
}

.alltutorials {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: $body-bg 5px center/3em no-repeat;
  background-image: url("images/_icons/alltutorials.png");
}

/* labs */

.singlelab {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: $body-bg 5px center/3em no-repeat;
  background-image: url("images/_icons/singlelab.png");
}

/* underconstruction - for chapters under construction */

.underconstruction { 
  color: $body-bg;
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  font-weight: bold;
  background: #F3CED4 5px center/3em no-repeat; 
  border-top: 1px solid #F05133;    /* COL["red", "full"] */
  border-bottom: 1px solid #F05133; /* COL["red", "full"] */
  background-image: url("images/_icons/under-construction.png");
}

/* todo - REMOVE ALL BEFORE PRINT!!! */

.todo { 
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #fffacd 5px center/3em no-repeat;
  border-top: 1px solid #f4dc00;    /* openintro::COL[6,1] */ 
  border-bottom: 1px solid #f4dc00; /* openintro::COL[6,1] */ 
  background-image: url("images/_icons/to-do.png");
  font-weight: bold;
}

.todo:before {
  content: "TO DO: ";
}

/* Counting exercises */

.exercises ol ol { 
  list-style-type: lower-alpha !important; 
}

.exercises ol ol ol { 
  list-style-type: lower-roman !important; 
}

.exercises strong {
  color: #569BBD; /* openintro::COL[1,1] */ 
}

/* Counting exercise solutions - odd numbers only */

.exercises-solution ol {
  counter-reset: odd-numbers -1;
  list-style-type: none !important;
}
.exercises-solution li {
  counter-increment: odd-numbers 2;
}
.exercises-solution li:before {
  content: counter(odd-numbers) ". ";
}
.exercises-solution p {
  display: inline;
}

/* Other formatting */

p.caption {
  color: #777;
  margin-top: 10px;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

/* Headings */

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #569BBD; /* openintro::COL[1,1] */ 
}
h1.title {
  font-weight: 700;
}
h1 {
  border-bottom: 3px solid;
  border-top: 3px solid;
}
h2 {
  border-bottom: 3px solid #e2e2e2;
  border-top: 3px solid #e2e2e2;
}
h3 {
  border-top: 1px solid #D9D9D9; /* openintro::COL[7,1] */
}

.welcome h1 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}

.welcome h2 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}


/* Fonts */

.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/* moved this out of Chp 1 but not sure if it's being used anywhere */

.column-left{
  float: left;
  width: 49%;
  text-align: left;
}
.column-right{
  float: right;
  width: 49%;
  text-align: left;
}

/* authorinfo */

.authorinfo {
  padding: 0em 0em 0em 0em;
}

/* lightbox captions */

.gslide-description {
  font-size: 1.5em
}

/* restart footnote counter at each chapter */
/* https://github.com/rstudio/bookdown/issues/589#issuecomment-701044587 */
/* doesn't work for bs4_book, update when resolved */