.Rproj.user
.Rapp.history
.Rhistory
.RData
*.bak
render*
_book
_bookdown_files
*.xlsx
ims.rds
icons8
unused/
tex-experimentation/
ims.aux
ims.idx
ims.log
ims.toc
ims.tex
ims.pdf
ims.md
ims.synctex(busy)
/.quarto/
*.tex
index.aux
index.idx
index.log
index.toc
index.tex
index.pdf
index.md
index.synctex(busy)