*.log
*.aux
main-blx.bib
main.bbl
main.blg
main.idx
main.ilg
main.ind
main.out
main.pdf
main.run.xml
main.synctex.gz
main.toc
*.DS_Store
*gitignore~
*.Rapp.history
*~
Icon[^/]
\#*
*.dropbox
_README
*-deprecated*
*.Rhistory